annotated-types==0.7.0
anyio==4.12.1
certifi==2026.2.25
charset-normalizer==3.4.5
DAWG2-Python==0.9.0
distro==1.9.0
et_xmlfile==2.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jiter==0.13.0
lxml==6.0.2
openai==2.26.0
openpyxl==3.1.5
pdf2image==1.17.0
pillow==12.1.1
pydantic==2.12.5
pydantic_core==2.41.5
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
pypdf==6.8.0
python-docx==1.2.0
python-dotenv==1.2.2
python-telegram-bot==22.6
reportlab==4.4.10
setuptools==82.0.1
sniffio==1.3.1
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
